


/*================================================*/
//VARIABLES
/*================================================*/

//Header
$headercolor: $mediumgreen;
$navItemColor: $darkgreen;


/*================================================*/
//End Variables
/*================================================*/


//HEADER
.header-container {
    background-color: $headercolor;
    box-shadow: none;
    border: none;
    @include breakpoint($phablet) {
        box-shadow: 0px 5px 10px black;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    }
}


//NAVIGATION
/* Nav item links */
nav ul li a {
    background-color: $navItemColor;
}